---
title: Faculty
layout: page
description: Faculties of Department of Statistcs, Visva-Bharati
permalink: /faculty
date: 2023-07-29T12:00:00Z
---

 <div class="row">

  
      {% assign promoted_faculties = site.faculty | where: "promoted", true | sort: "weight" %}
      {% for faculty in promoted_faculties %}

      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="faculty-faculty-wrapper">

          {% if faculty.image %}
          <div class="faculty-img-wrapper faculty-image">

          <a href="{{ faculty.url | relative_url }}">
            <img   src="{{ site.url}}{{ faculty.image | relative_url }}" class="img-fluid img-thumbnail  " alt="{{ faculty.title }} Profile">
            </a>

          </div>
            {% endif %}

            <div class="faculty-faculty-content-classic">
              <h3 class="faculty-name"><a href="{{ faculty.url | relative_url }}">{{ faculty.title }}</a></h3>
              <p class="designation">{{ faculty.designation }}</p>
              

              <!--
              <div class="faculty-social-icons">
              
                {% if faculty.email %}
                <a target="_blank" href="{{ faculty.email }}" rel="noreferrer"><i class="fa fa-envelope"></i> {{ faculty.email }}</a>
                {% endif %}

                {% if faculty.linkedin %}
                <a target="_blank" href="{{ faculty.linkedin }}" rel="noreferrer"><i class="fab fa-linkedin"></i> LinkedIn</a>
                {% endif %}

              </div>  -->
               
            </div>
        
        
          </div>
           
        </div>

      {% endfor %}
   
    </div>


 











<hr>

  <div class="row pt-6 pb-6">
      {% assign faculties = site.faculty | where: "promoted", empty | sort: "weight" %}
      {% for faculty in faculties %}
      <div class="col-12 col-md-4 mb-3">
          <div class="faculty faculty-summary">
              {% if faculty.image %}
              <div class="faculty-image">
              <a href="{{ faculty.url | relative_url }}">
                  <img alt="{{ faculty.title }}" class="img-fluid img-thumbnail" src="{{ faculty.image | relative_url }}" />
              </a>
              </div>
              {% endif %}
              <div class="faculty-meta faculty-faculty-content-classic">
                  <h3 class="faculty-name"><a href="{{ faculty.url | relative_url }}">{{ faculty.title }}</a></h3>
                  <p class="faculty-description">{{ faculty.designation }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
 

 