---
layout: people
permalink: /research-scholars
title: Research Scholars
description: research-scholars
---
<div class="alert alert-success" role="alert">
  Nothing fount on the Internet | Below are dummy content
</div>
<div class="container">
  {% for year in site.data.research-scholars %}
    <h2>{{ year.year }}</h2>
    <div class="row">
      {% for scholar in year.research_scholars %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="/assets/images/scholars/{{ scholar.image }}"  class="img-fluid"  alt="{{ scholar.name }} Profile">
            <div class="card-body">
              <h5 class="card-title">{{ scholar.name }}</h5>
              <p class="card-text"><strong>Email:</strong> {{ scholar.email }}</p>
              <p class="card-text"><strong>Paper Title:</strong> {{ scholar.paper_title }}</p>
              <p class="card-text"><strong>Start Year:</strong> {{ scholar.start_year }}</p>
              <p class="card-text"><strong>Research Area:</strong> {{ scholar.research_area }}</p>
              <p class="card-text"><strong>Advisor:</strong> {{ scholar.advisor }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Publications:</strong></li>
              {% for publication in scholar.publications %}
                <li class="list-group-item">{{ publication.title }} ({{ publication.conference }} - {{ publication.year }})</li>
              {% endfor %}
            </ul>
            <div class="card-footer">
              <!-- Add social media links here if needed -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
