---
layout: page
permalink: /msc
title: MSc 
description: MSc notes handouts and pdfs
date: 2023-12-12
---


<p>MSc notes handouts and pdfs</p>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <i class='fas fa-exclamation-circle'></i>
  <strong>This page is Incomplete!</strong>  . Last updated on  {{ page.date | date: "%B %d, %Y" }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

 

<div class="container mt-5 mb-5">
  <a href="/syllabus/MSc in Statistics Syllabus 2020-21.pdf" class="btn btn-primary">MSc Statistics Syllabus 2020-21</a>
</div>


<ul class="list-group text-break">
    {% assign folder_counts = "" %}
    {% for folder in site.static_files %}
      {% if folder.path contains '/msc/' and folder.path != '/msc/' %}
        {% assign parts = folder.path | split: '/' %}
        {% assign foldername = parts[2] %}
        {% unless folder_counts contains foldername %}
          {% assign file_count = 0 %}
          {% for file in site.static_files %}
            {% if file.path contains '/msc/' and file.path contains foldername %}
              {% assign file_count = file_count | plus: 1 %}
            {% endif %}
          {% endfor %}
          <li class="pb-5 list-group-item">
            <a class="fw-bold h2" data-toggle="collapse" href="#{{ foldername }}" role="button" aria-expanded="false" aria-controls="{{ foldername }}">
              {{ foldername | capitalize | replace: '-', ' ' }}  

              <!--
              {% if foldername  == 'linear-model' %} * {% endif %}
              {% if foldername  == 'measure-theory' %} * {% endif %}
              -->
              
              <span class="badge rounded-pill text-bg-light float-end">{{ file_count }}</span>    
            </a>
            <div class="collapse show" id="{{ foldername }}"> <!-- Add the 'show' class here -->
              <ul>
                {% for file in site.static_files %}
                  {% if file.path contains '/msc/' and file.path contains foldername %}
                    <li><a href="{{ file.path }}">{{ file.name | capitalize | replace: '-', ' ' }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
          {% assign folder_counts = folder_counts | append: foldername | append: ";" %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
  


  


<hr>
 
 <h2>Previous year Questions</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Semester</th>
        <th scope="col">PDF File</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>odd</td>
        <td><a href="https://github.com/mrinalcs/vbstat/blob/main/msc/~previous-year-questions/2017_MSC_Odd.pdf" target="_blank">2017_MSC_Odd.pdf</a></td>
      </tr>
      <tr>
        <td>odd</td>
        <td><a href="https://github.com/mrinalcs/vbstat/blob/main/msc/~previous-year-questions/2018_MSC_Odd.pdf" target="_blank">2018_MSC_Odd.pdf</a></td>
      </tr>
      <tr>
        <td>odd</td>
        <td><a href="https://github.com/mrinalcs/vbstat/blob/main/msc/~previous-year-questions/2019_MSC_Odd.pdf" target="_blank">2019_MSC_Odd.pdf</a></td>
      </tr>
      <tr>
        <td>odd</td>
        <td><a href="https://github.com/mrinalcs/vbstat/blob/main/msc/~previous-year-questions/2021_MSC_Odd.pdf" target="_blank">2021_MSC_Odd.pdf</a></td>
      </tr>
    </tbody>
  </table>



<!--

  <div class="alert alert-danger mt-5" >
    <strong>Note:</strong> * This page is not intended to host this. However, a freely available PDF version can be found on the internet.  If there is any mistake or concern, sincerely apologize. Please contact.
  </div>

-->

  
