---
layout: home
description: "Department of Statistics at VisvaBharati. Meet faculties, students and alumnis. Explore our department, lecture notes, previous year question, and other resources."
---

<section id="home-hero">
  <div class="container">
    <div class="row  flex-lg-row-reverse">
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            {% for item in site.data.home.carousel %}
              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                <img src="{{ site.url }}{{ item.image }}" class="d-block w-100" alt="{{ item.alt }}">
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-lg-6">
        <figure class="text-center">
          <blockquote class="blockquote pt-5 h2">
            <p>{{ site.data.home.intro.quote }}</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            {{ site.data.home.intro.author }}
            <cite title="Source Title">{{ site.data.home.intro.source }}</cite>
          </figcaption>
        </figure>
      </div>
    </div><!-- Content row end -->
  </div><!-- Container end -->
</section>




<section>
  <div class="row">
    <div class="col-lg-6">
      <div class="ts-intro">
          <h1 class="into-sub-title h3">{{ site.data.home.department_intro.title }}</h1>
          <p>{{ site.data.home.department_intro.content | newline_to_br }}</p>
      </div><!-- Intro box end -->
  
    </div><!-- Col end -->
  
    <div class="col-lg-6 mt-4 mt-lg-0">
       
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Who are we ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Students of Statistics department. If you are also a student of Visva-Bharati you are welcome to contribute.
            </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What is purpose of this page ?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <ul>
                <li>Sharing Notes</li>
                <li>Previous year questions</li>
                <li>Learn more about department</li>
              </ul>
              
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How to contribute or suggest here ?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong><i class="fab fa-github"></i></strong> This website hosted in github pages  so to contibute you have to  <code><a href="https://github.com/mrinalcs/vbstat/fork">fork reposetory</a></code> and make  pull request. For details see repo description
            </div>
          </div>
        </div>
      </div>
    </div><!-- Col end -->
  </div>
  
</section>
