 
 <!-- Footer -->
 <footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-4 col-md-6 footer-widget footer-about">
               
              <img loading="lazy" width="80px" class="footer-logo" src="/assets/images/pata.png" alt="Visva-Bharati Website pata">
              <p>Department offers undergraduate Statistics programs with majors and minors, along with a M.Sc. program and a Ph.D. program in Statistics.</p>
              <div class="footer-social">
                <ul>
                  <li><a href="" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a></li>
                  <li><a href="" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li><a href="" aria-label="Linkedin"><i
                        class="fab fa-linkedin"></i></a></li>
                  <li><a href="" aria-label="Github"><i class="fab fa-github"></i></a></li>
                </ul>
              </div><!-- Footer social end -->
            </div><!-- Col end -->
  
            <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
              <h3 class="widget-title">Working Hours</h3>
              <div class="working-hours">
                Weekly, every day excluding Saturday and Sunday and holidays in Academic calendar. Break 1.30pm to 2.30pm Contact us if you have an emergency.
                <br><br> Monday - Friday: <span class="text-right">9:30 - 18:30 </span>
              </div>
            </div><!-- Col end -->
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
              <h3 class="widget-title">Links</h3>
              <ul class="list-arrow">
                <li><a href="">Examination Section</a></li>
                <li><a href="">Academic Calendar</a></li>
                <li><a href="">Notice</a></li>
                <li><a href="">Design and Build</a></li>
              </ul>
            </div><!-- Col end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Footer main end -->
  
      <div class="copyright">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="copyright-info">
                <span>Copyright &copy; 2023, Department of Statistics Visva-Bharti</span>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="footer-menu text-center text-md-right">
                <ul class="list-unstyled">
                  <li><a target="_blank" href="https://github.com/mrinalcs/vbstat"><i class="fab fa-github"></i> Learn More</a></li>
                  <li><a target="_blank" href="https://github.com/mrinalcs/vbstat/blob/main/README.md"><i class="fab fa-readme"></i> Readme</a></li>
                  <li><a target="_blank" href="https://github.com/mrinalcs/vbstat/fork"><i class="fa fa-edit"></i> Write</a></li>
                </ul>
              </div>
            </div>
          </div><!-- Row end -->
  
          <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
            <button class="btn btn-primary" title="Back to Top">
              <i class="fa fa-angle-up"></i>
            </button>
          </div>
  
        </div><!-- Container end -->
      </div><!-- Copyright end -->
   </footer>



  <!-- initialize jQuery Library -->
  <script src="/assets/plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="/assets/plugins/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="/assets/plugins/slick/slick.min.js"></script>
  <script src="/assets/plugins/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="/assets/plugins/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="/assets/plugins/shuffle/shuffle.min.js" defer></script>

    <!-- Template custom -->
    <script src="/assets/js/script.js"></script>

