<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 
<!-- footer -->
<footer class="foot_sec">
  <div class="foot_top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="foot_left">
            <h2 class="footer-title">{{site.title}}</h2>
            <p>WINDOW KING, PROFESSIONAL WINDOW CLEANING, <br>
              IS A LOCAL FAMILY RUN WINDOW CLEANING SERVICE <br>
              THAT BEEN IN BUSINESS SINCE 1998.</p>
              
          </div>
        </div>
        <div class="col-md-6">
          <div class="foot_rt">
            <h2>CONTACTS</h2>
            <p>
              <span>Address: </span>
               West Littleton Boulevard Littleton, Colorado 80187
            </p>
            <p>
              <span>Phone: </span>
              <a href="tel:#">(123) 731-4000</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot_btm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p><a href="#"> Window King</a> © 2023. Allright Reserved.</p>
        </div>
        <div class="col-md-6">
          <p>Design and Development By <a href="#"> Soumitra ghosh</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->