<noscript>
  <p class="text-center bg-danger text-light">This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.</p>
</noscript>
{% if site.data.topbar.show %}
<div id="top-bar" class="top-bar">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-8   text-center text-md-start">
            <ul class="top-info">
                <li><i class="{{ site.data.topbar.heading.icon }}"></i> <p class="info-text">{{ site.data.topbar.heading.text }}</p>
                </li>
            </ul>
          </div>
          <!--/ Top info end -->

          <div class="col-lg-6 col-md-4 top-social text-center text-md-end">
           
            <ul class="list-unstyled">
              {% for item in site.data.topbar.links.social %}
                <li>
                  <a title="{{ item.title }}" href="{{ item.link }}">
                    <span class="social-icon"><i class="{{ item.icon }}"></i></span> <span class="d-lg-inline d-md-none">{{ item.title }}</span>
                  </a>
                </li>
              {% endfor %}

              <li>
                <a title="Write" href="https://github.com/{{ site.author.github }}/{{ site.author.repo }}/edit/main/{{ page.path }}">
                  <span class="social-icon"><i class="fa fa-edit"></i></span> <span class="d-lg-inline d-md-none">Improve this page</span>
                </a>
              </li>

            </ul>
              
          </div>
          <!--/ Top social end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</div>
{% endif %}