 
 body {
  background: #fff;
  color: #555
  
}

body,
p {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  line-height: 26px;
  font-size: 15px
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}

body {
  border: 0;
  margin: 0;
  padding: 0
}

a:link,
a:visited {
  text-decoration: none
}

a {
  color: inherit;
  transition: .2s ease
}

a:hover {
  text-decoration: none;
  color: #000
}

a:focus {
  outline: 0
}

.title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: 0 0
}

a[href^=tel] {
  color: inherit;
  text-decoration: none
}

.btn:active,
.btn:focus {
  box-shadow: none !important
}

.btn-primary {
  border: 0;
  border-radius: 3px;
  padding: 12px 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat, sans-serif;
  transition: 350ms;
  font-size: 14px
}

@media (max-width:767px) {
  .btn-primary {
    font-size: 13px
  }
}

.btn-primary {
  background: red
}

.btn-primary:hover {
  background: #111;
  color: #fff
}

.btn-primary:hover:active,
.btn-primary:hover:focus {
  color: #fff;
  background-color: #111 !important
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: 0 0
}

a[href^=tel] {
  color: inherit;
  text-decoration: none
}

.top-bar {
  padding: 8px 0;
  background: #ebebeb;
  position: relative
}

ul.top-info {
  list-style: none;
  margin: 0;
  padding: 0
}

ul.top-info li {
  position: relative;
  line-height: 10px;
  display: inline-block;
  margin-left: 0;
  padding-right: 15px
}

ul.top-info li i {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 5px
}

ul.top-info li p.info-text {
  margin: 0;
  line-height: normal;
  display: inline-block;
  flex-direction: column
}

.top-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -12px
}

@media (max-width:767px) {
  .top-social ul {
    margin-right: 0
  }
}

.top-social ul li {
  display: inline-block;
  padding: 0
}

.top-social ul li a {
  color: #2c2c2c;
  font-size: 14px;
  transition: .4s;
  padding: 9px 12px
}

.top-social ul li a:hover {
  color: #333
}

 

.header {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
  margin:-.1px
}

ul.navbar-nav>li>a {
  padding: 15px 0 !important
}

@media (max-width:991px) {
  ul.navbar-nav>li>a {
    padding: 1px 0 !important
  }

  .navbar-nav {
    margin-bottom: 15px
  }
}

ul.navbar-nav>li.active>a,
ul.navbar-nav>li:hover>a {
  color: red !important
}

.logo img {
  width: auto;
  height: 30px
}

.header-right {
  float: right
}

.navbar-toggler {
  float: left;
  margin-top: 10px;
  padding: 12px
}

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0
}

.navbar-toggler {
  margin: 10px 0;
  padding: 6px;
  border: none;
   
}

.navbar-toggler:focus {
  outline:none;
  box-shadow: none;
}

ul.navbar-nav>li.active>a,
ul.navbar-nav>li:hover>a {
  color: red;
  position: relative
}

ul.navbar-nav>li {
  padding: 0 13px;
  position: relative
}

@media (max-width:1200px) {
  ul.navbar-nav>li {
    padding: 0 9px
  }

   
}

@media (max-width:991px) {
  .header ul.navbar-nav>li {
    padding: 0;
    width: 100%
  }
}

ul.navbar-nav>li:last-child {
  padding-right: 0
}

ul.navbar-nav>li:last-child:after {
  background: 0 0
}

ul.navbar-nav>li>a:focus,
ul.navbar-nav>li>a:hover {
  background: 0 0
}

ul.navbar-nav>li>a i {
  font-weight: 700
}

@media (max-width:991px) {
  ul.navbar-nav>li>a i {
    float: right;
    background: #222;
    padding: 6px 10px;
    margin-top: 7px
  }

  .header ul.navbar-nav>li>a i {
    color: #fff
  }

  .header ul.navbar-nav>li.active>a i,
  .header ul.navbar-nav>li>a.active i {
    color: red
  }
}

ul.navbar-nav>li>a:after {
  display: none
}

ul.navbar-nav>li>a {
  font-family: Montserrat, sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: -.2px;
  font-size: 14px;
  margin: 0;
  line-height: 40px;
  padding: 30px 0;
  transition: 350ms
}

.dropdown-submenu {
  position: relative
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  border-radius: 0
}

.dropdown-submenu>a:after {
  display: block;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  float: right;
  margin-top: 0;
  margin-right: -5px;
  border: 0
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff
}

.dropdown-menu {
  text-align: left;
  background: #fff;
  z-index: 100;
  min-width: 200px;
  border-radius: 0;
  border: 0;
  border-top: 2px solid red;
  padding: 0 20px;
  margin: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  top: 100%;
  left: 0;
}

@media (max-width:991px) {
  .dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .05)
  }
}

.navbar-nav>li>.dropdown-menu a {
  background: 0 0
}

.dropdown-menu li a {
  font-family: Montserrat, sans-serif;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding: 15px 0;
  letter-spacing: .3px;
  border-bottom: 1px solid #e5e5e5;
  color: #333
}

@media (max-width:991px) {
  .dropdown-menu li a {
    padding: 12px 0
  }
}

.dropdown-menu li:last-child>a {
  border-bottom: 0
}

.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
  color: red
}

@media (min-width:991px) {
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block
  }
}

@media (min-width:991px) {
  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    display: none
  }

  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
    display: block
  }
}

.dropdown-menu>.active>.dropdown-menu>.active>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background: 0 0;
  color: red
}

.site-navigation .container {
  position: relative
}

.header-get-a-quote .btn-primary {
  padding: 12px 25px !important;
  font-size: 13px;
  border-radius: 3px;
  line-height: normal;
  text-transform: capitalize;
  color: #fff;
  margin-top: 5px
}

@media (max-width:1200px) {
  .header-get-a-quote .btn-primary {
    padding: 12px !important
  }
}

@media (max-width:991px) {
  .header-get-a-quote .btn-primary {
    padding: 12px 30px !important
  }
}

.header-get-a-quote .btn-primary:hover {
  background: #272d33;
  color: red !important
}

ul.navbar-nav>li.header-get-a-quote:hover>a:after {
  position: relative;
  content: no-close-quote
}

.quote-item .quote-text {
  margin: 0 0 10px;
  display: inline-block;
  padding: 0 40px 30px 60px;
  background-color: #fff;
  position: relative;
  font-size: 16px;
  font-style: italic
}

@media (max-width:575px) {
  .quote-item .quote-text {
    padding: 0 40px 30px 50px
  }
}

.quote-item .quote-text:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 30px;
  left: 0;
  top: 0;
  font-weight: 700;
  color: #ffc009
}

.quote-item-info {
  padding-top: 15px;
  display: inline-block
}

.get-a-quote-img {
  margin-bottom: -190px
}

label {
  font-weight: 400
}

.sidebar .btn {
  font-weight: 700;
  font-size: 12px;
  margin-top: 15px;
  padding: 10px 25px
}

.sidebar ul.sidebar-menu li {
  width: 100%
}

.sidebar ul.sidebar-menu li a {
  background-color: #f4f4f4;
  padding: 15px 20px;
  border: 0;
  margin-bottom: 8px;
  position: relative;
  transition: .4s;
  display: block
}

.sidebar ul.sidebar-menu li.active a,
.sidebar ul.sidebar-menu li:hover a {
  background: red;
  color: #fff;
  cursor: pointer
}
























/* remove*/

.ml-auto {
  margin-left: auto !important
}

.sidebar.sidebar-left {
 top: 70px;
}





 


/*  for dropdown icon change */



.dropdown-toggle .fa-angle-down:before {
 content: "\f107"; /* Icon code for down arrow */
}

@media (min-width: 991px) {
 .dropdown-toggle:hover .fa-angle-down:before {
     content: "\f106"; /* Icon code for up arrow on hover */
 }
}

.dropdown-toggle.show .fa-angle-down:before {
 content: "\f106"; /* Icon code for up arrow when .show is applied */
}





/* change nav icon */

      .navbar-toggler .fa-bars:before {
           content: "\f0c9"; /* Default icon code for bars */
       }

       .navbar-toggler[aria-expanded="false"] .fa-bars:before {
           content: "\f0c9"; /* Icon code for bars when aria-expanded is false */
       }

       .navbar-toggler[aria-expanded="true"] .fa-bars:before {
           content: "\f00d"; /* Icon code for close when aria-expanded is true */
       }




/*  dropdown menu border */
@media (max-width: 991px) {
.dropdown-menu {
 
 
  
 // border-left: 2px solid #dee2e6;
 // border-right: 2px solid #dee2e6;
 border-top: none; // overwrite top border
 
 
 
} }


.widget {
 margin-right: 50px;
}



/* header height */

nav.navbar {
 padding: 0;
}

/*hide button depod dn*/
.dropdown-toggle::after {
 display: none;
  
}


/* button  start*/

li.nav-item.dropdown button {
 width: 100%;
 text-align: initial;
}



ul.navbar-nav>li>button {
 padding: 15px 0 !important
}

@media (max-width:991px) {
 ul.navbar-nav>li>button {
   padding: 1px 0 !important
 }

 .navbar-nav {
   margin-bottom: 15px
 }
}


ul.navbar-nav>li>button:focus,
ul.navbar-nav>li>button:hover {
 background: 0 0
}

ul.navbar-nav>li>button i {
 font-weight: 700
}

@media (max-width:991px) {
 ul.navbar-nav>li>button i {
   float: right;
   /* background: #222; */
   padding: 6px 10px;
   margin-top: 7px
 }

 .header ul.navbar-nav>li>button i {
   /* color: #fff */
 }

 .header ul.navbar-nav>li.active>button i,
 .header ul.navbar-nav>li>button.active i {
   color: red
 }
}

ul.navbar-nav>li>button:after {
 display: none
}

ul.navbar-nav>li>button {
 font-family: Montserrat, sans-serif;
 text-rendering: optimizeLegibility;
 font-weight: 700 !important;
 text-transform: uppercase;
 letter-spacing: -.2px;
 font-size: 14px;
 margin: 0;
 line-height: 40px;
 padding: 30px 0;
 transition: 350ms
}


ul.navbar-nav>li.active>button,
ul.navbar-nav>li:hover>button {
 color: red;
 position: relative
}
/*button end*/


/* sub menu start */




ul.navbar-nav>li>ul>li>button {
 font-family: Montserrat, sans-serif;
 text-rendering: optimizeLegibility;
 font-weight: 700 !important;
 text-transform: uppercase;
 letter-spacing: -.2px;
 font-size: 12px;
 margin: 0;
 line-height: 40px;
 color: #333333;
 transition: 350ms;
 padding-left: 0!important;
}

button.nav-link.dropdown-toggle {
 padding: 0;
}




@media (min-width: 991px) {

 .dropdown-submenu>.dropdown-menu {
   padding-buttom: 10px;
     border-top:none;
 }

}
@media (max-width: 991px) {

 .dropdown-submenu>.dropdown-menu {
 padding-buttom: 10px;
   // border-bottom: 2px solid #dee2e6;;
}

}




ul.navbar-nav>li>ul>li.active>button,
ul.navbar-nav>li>ul>li:hover>button {
 color: red;
  
}

ul.navbar-nav>li>ul>li>button i {
 font-weight: 700
}

@media (max-width:991px) {
 ul.navbar-nav>li>ul>li>button i {
   float: right;
    
   padding: 6px 10px;
   margin-top: 7px
 }

 .header ul.navbar-nav>li>ul>li>button i {
   color: #1b1b1b
 }

 .header ul.navbar-nav>li>ul>li.active>button i,
 .header ul.navbar-nav>li>ul>li>button.active i {
   color: red
 }



 ul.navbar-nav>li>ul>li>ul {

  box-shadow: none!important;
 }


}

.dropdown-menu>li>ul>li>a {
 
 font-size: 12px;
 
}
/* sub menu end */

/* overwrite */

.dropdown-menu[data-bs-popper] {
   margin-top: 0;
}


/**/

section, .section-padding {
 padding: 30px 0;
 position: relative;
}

h1, h2, h3, h4, h5, h6 {
 color: #212121;
 font-weight: 700;
 font-family: "Montserrat", sans-serif;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased !important;
}
h1 {
 font-size: 28px;
 line-height: 36px;
 text-transform: uppercase;
 letter-spacing: -1px;
}
h2 {
//  padding-top: 20px;
 font-size:larger;
}

h3 {
  // padding-top: 20px;
  font-size:large
 }

span.fw-bold {
 font-size: 120%;
 /* font-weight: 900!important; */
}


/* for table */



/* Bordered table */
table {
//  border: 1px solid #dee2e6;
 width: 100%;
}

th, td {
 border: 1px solid #dee2e6;
 padding: 0.5rem 0.5rem;
}


table {
  overflow: auto;
  display: block;
  table-layout: auto;
  }

  

/* faculty*/
.faculty-team-content-classic .faculty-name {
 font-size: 16px;
 margin-bottom: 5px;
 color: #212121;
}

 


/* Footer */


#footer {
 background-color: #ebebeb;
  
 margin-top: 30px;
}

.footer {
 padding: 80px 0 60px;
}

.footer .widget-title {
 font-size: 20px;
 font-weight: 700;
 position: relative;
 margin: 0 0 30px;
 padding-left: 15px;
 text-transform: uppercase;
 border-left: 3px solid red;
}


 .social i {
   font-size: 1.5rem;
 }


 .faculty-image img {
   max-width: 200px;
   min-width: 200px;
 }



 .fa-github:hover {
  animation: pulse 0.5s ease infinite, colorChange 2s infinite; /* Add a pulsating and color-changing animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorChange {
  0% {
    color: red; /* Start with red color */
  }
  50% {
    color: blue; /* Change to blue halfway through */
  }
  100% {
    color: red; /* Return to red at the end */
  }
}








.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: none;
}