---
layout: base
---

<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">


        <div class="col-xl-3 col-lg-4 d-none d-lg-block">
            <div class="sidebar sidebar-left">
        {%- include sidebar.html -%}
            </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->


<div class="col-xl-8 col-lg-8">
    <div class="content-inner-page">
        {{ content }}
    </div><!-- Content inner end -->
  </div><!-- Content Col end -->






  
</div><!-- Main row end -->
</div><!-- Conatiner end -->
</section><!-- Main container end -->